.Login {
    padding: 60px 0;
    

    form {
        margin: 0 auto;
        max-width: 320px;
    }

    .group{
        display: inline-flex;
        justify-content: space-between;
    }

    .input{
        margin: 10px;
    }
}